[Desktop Entry]
Categories=Game;Action;
Encoding=UTF-8
Name=Bow and Arrow
Comment=Bow & Arrow is remake made with <3 by Amazing Cow Labs
Exec=bow-and-arrow
Icon=/usr/local/share/amazingcow_game_bow_and_arrow/Content/sprites/Icon.png
Type=Application
